<div class="c-block {{ block_classes }}">

  {% block block_media %}
    {% if block_media %}
      <div class="c-block__media">
        <a href="">{% include '@atoms/images/image.twig' with block_media %}</a>
      </div>
    {% endif %}
  {% endblock %}

  {% block block_object %}
    <div class="c-block__object u-spacing--half">

      <div class="c-block__eyebrow">
        {% include '@atoms/text/kicker.twig' %}
      </div>

      <h3 class="c-block__title"><a href="">{{ block_title }}</a></h3>

      <div class="u-spacing">
        {% if block_dek %}
          <div class="c-block__dek o-rte-text">
            <p>{{ block_dek }}</p>
          </div>
        {% endif %}

        {% if block_meta %}
          {% include '@molecules/meta/block-meta.twig' with block_meta %}
        {% endif %}
      </div>

    </div>
  {% endblock %}

</div>
