<div class="c-article__meta u-spacing--half">
  {% include '@molecules/text/byline.twig' %}
  <div class="c-article__meta-group">
    {% include '@molecules/text/published-date.twig' %}
    <a href="">[#] Comments</a> &bull; <a href="">[#] Slides</a>
  </div>
</div>
