<div class="c-lead u-spacing--half{{ classes }}">
  <div class="c-lead__image">
    {% include '@atoms/images/picture.twig' %}
  </div>
  <div class="c-lead__caption u-spacing--half l-wrap">
    <p class="u-font--xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <span class="o-credit u-font--secondary-style u-font--xs u-color--septenary">[Getty Images]</span></p>
  </div>
</div>
