<div class="c-lead u-spacing--half{{ classes }}">
  <div class="c-lead__image">
    {% include '@atoms/images/picture.twig' %}
  </div>
  <div class="c-lead__caption u-spacing--half l-wrap">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <span class="o-credit">Getty Images</span></p>
  </div>
</div>
