<div class="c-lead {{ lead_classes }}">
  <div class="c-lead__image">
    {% include '@atoms/images/picture.twig' %}
  </div>
  <div class="c-lead__caption o-caption u-spacing--half">
    <p><span class="o-icon o-icon--dashed-arrow u-icon--s">{% include '@atoms/icons/icon-dashed-arrow.twig' %}</span> {{ caption }} <span class="o-credit">{{ credit }}</span></p>
  </div>
</div>
