<div class="c-lead {{ classes }}">
  {% if image %}
    <div class="c-lead__image">
      <a href="">{% include '@atoms/images/image.twig' %}</a>
    </div>
  {% endif %}
  <div class="c-lead__text u-spacing--half">
    <h3 class="c-lead__title"><a href="">{{ title }}</a></h3>
    {% if dek %}
      <div class="c-lead__dek o-text">
        {{ dek }}
      </div>
    {% endif %}
  </div>
</div>
