/*------------------------------------*\
    $FORMS
\*------------------------------------*/

form ol,
form ul {
  list-style: none;
  margin-left: 0;
}

legend {
  margin-bottom: 6px;
  font-weight: bold;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

input,
select,
textarea {
  width: 100%;
  border: none;
  appearance: none;
}

input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel] {
  font-size: 18px;
  padding: $space $pad;
}

input[type=radio],
input[type=checkbox] {
  outline: none;
  margin: 0;
  margin-right: 8px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  display: block;
  float: left;
  border: 1px solid $c-border-color;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  appearance: none;
  background-color: transparent;
}

input[type=radio] + label,
input[type=checkbox] + label {
  display: inline-block;
  top: -2px;
  cursor: pointer;
  position: relative;
  margin-bottom: 0;
}

input[type=radio]:checked,
input[type=checkbox]:checked {
  border-color: $c-primary;
  background: $c-primary url("../images/icons/icon-check.svg") center center no-repeat;
  background-size: 10px;
}

input[type=radio] {
  border-radius: 50px;
}

select {
  appearance: none;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: "";
  background: url("../images/icons/icon-arrow-down.svg") center left ($space / 2) no-repeat;
  background-size: calc(20px - 5px) calc(20px - 5px);
  padding-left: calc((20px * 2) - 5px);

  &::-ms-expand {
    display: none;
  }
}

::placeholder {
  color: $c-brown-grey;
  font-family: $ff-font--monospace;
}

