/*------------------------------------*\
    $WRAPPERS & CONTAINERS
\*------------------------------------*/

/**
 * Wrapping element to keep content contained and centered.
 */
.l-wrap {
  margin: 0 auto;
  padding-left: $space;
  padding-right: $space;
  width: 100%;
  position: relative;
}

/**
 * Layout containers - keep content centered and within a maximum width. Also
 * adjusts left and right padding as the viewport widens.
 */

.l-container {
  max-width: $max-width + px;
  margin-left: auto;
  margin-right: auto;
}

.l-container--content {
  max-width: $article-content-width + px;
  margin-left: auto;
  margin-right: auto;
}


/**
 * Grid classes
 */
.l-container--10col {
  max-width: ($col-width * 10) + ($gutter * 8) + px;
}
.l-container--12col {
  max-width: ($col-width * 12) + ($gutter * 10) + px;
}
.l-container--14col {
  max-width: ($col-width * 14) + ($gutter * 12) + px;
}
