/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.c-main-header {
  text-align: center;
  position: relative;
  z-index: 10000; // High enough to cover ads and any other overlay

  &__ad-unit {
    position: relative;
    z-index: 100;
    background-color: $c-dark-bg;

    img {
      margin: 0 auto;
    }
  }

  &__inner {
    background-color: $c-heading-bgcolor;
    padding: $space-half $space-half $space-half $space-triple;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: $heading-height + px;

    @include media('>xsmall') {
      padding: $space-half $space $space-half $space-quad;
    }
  }

  &__branding {
    width: 120px;

    @include media('>xsmall') {
      width: 150px;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 100%;
  }

  &__donate {
    margin-right: $space;

    @include media('<=small') {
      margin-right: 0;
      font-size: 12px;
      padding-left: $space;
      padding-right: $space;
    }
  }
}

.c-search-toggle {
  width: 40px;
  height: 40px;
  transform: translate(-5px, 2px);

  @include media('<=small') {
    display: none;
  }

  &__icon {
    path {
      fill: $c-white;
    }
  }
}

.c-content-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $c-white;
  z-index: 5;
  left: -100%;
  top: 0;
  opacity: 0;
  transform: translateX(0);
  transition: opacity .3s ease-out, transform .3s ease-out .4s;

  .side-menu-is-active & {
    opacity: .5;
    transform: translateX(100vw);
    transition: opacity .2s ease-in;
  }
}


/**
 * Side menu
 */
.c-side-menu {
  position: absolute;
  width: 100%;
  background-color: $c-heading-bgcolor;
  left: -100%;
  top: 0;
  z-index: 10;
  padding-bottom: $space-double;
  transition: transform .3s $hard-ease-in;
  overflow: auto;
  height: calc(100vh - #{$heading-height}px);
  //height: 100vh;

  @include media('>small') {
    max-width: 360px;
    left: -360px;
  }

  @include media('>medium') {
    max-width: 500px;
    left: -500px;
  }

  // &::-webkit-scrollbar-track {
  //   background-color: transparent;
  // }

  // &::-webkit-scrollbar {
  //   width: 8px;
  // }

  // &::-webkit-scrollbar-thumb {
  //   border-radius: 6px;
  //   background-color: $c-gray;
  // }

  .side-menu-is-active & {
    transform: translateX(100%);

    @include media('>small') {
      transform: translateX(360px);
    }

    @include media('>medium') {
      transform: translateX(500px);
    }
  }

  &__group {
    padding: $space-and-half;
    &:not(:last-child) {
      @include border-accent(right, center, rgba($c-gray, .2));
    }

    @include media('>medium') {
      padding-left: $space-quad;
      padding-right: $space-quad;
    }
  }

  .c-brand-social {
    justify-content: center;
  }

  &__branding {
    width: 180px;
    margin: $space-half auto $space-half;
  }

  &__secondary-nav {

    .c-secondary-nav {
      margin-bottom: $space;

      &__list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;
      }

      &__item {
        margin-bottom: $space-and-half;
      }

      &__link {
        margin: 0 $space;

        @include media('>medium') {
          margin: 0 $space-and-half;
        }
      }
    }
  }

  &__donate {
    width: calc(100% - #{$space});
    margin-bottom: $space;
  }

  &__send-story {
    @include media('<=xsmall') {
      font-size: 14px;
    }
  }

  &__nypr-logo {
    width: 120px;
    margin: $space-double auto $space-half;
    path,
    polygon {
      fill: $c-white;
    }
  }

  .c-nypr-nav {

    &__list {
      width: calc(100% + #{$space-double});
    }
  }

  &__copyright {
    p {
      line-height: 2.5;
    }
  }

  &__terms-links {
    display: flex;
    justify-content: space-between;
  }
}


/**
 * Brand social links in the side menu
 */
.c-brand-social {
  display: flex;
  align-items: center;

  &__label {
    margin-right: $space-half;
  }

  &__link {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 0 4px;

    @include media('>small') {
      width: 40px;
    }

    path {
      fill: $c-white;
    }
  }
}
