/*------------------------------------*\
    $ARTICLE
\*------------------------------------*/

.c-article {

  &__header {
    padding-top: $space-double;
  }

  &__body {
    margin-bottom: $space-quad;
  }

  &__meta-group {
    > * {
      display: inline-block;
    }
  }
}
