/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/

.c-main {
  padding-top: $space-double;
  padding-bottom: $space-double;
  position: relative;
}

.c-welcome-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 670px;
  padding: 30px;
  margin: 0 auto;
  &__logo {
    max-width: 400px;
    margin: 0 auto;
  }
}

/**
 * Ad styling (only for prototyping)
 */
.o-ad {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  &__label {
    margin-top: $space-half;
    display: block;
    text-align: right;
    width: 100%;
  }

  // Standard 300x250
  &--300x250 {
    width: 300px;
  }

  // Billboard progression
  &--billboard {
    width: 300px;

    @include media('>750px') {
      width: 728px;
    }

    @include media('>1000px') {
      width: 970px;
    }
  }
}
