/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.c-main-header {
  text-align: center;
  position: relative;
  z-index: $z-index-header;

  &__ad-unit {
    position: relative;
    z-index: $z-index-header-ad;
    background-color: $c-dark-bg;

    img {
      margin: 0 auto;
    }
  }

  &__inner {
    background-color: $c-heading-bgcolor;
    padding: $space-half $space-half $space-half $space-double;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: $heading-height + px;

    @include media('>xsmall') {
      padding: $space-half $space $space-half $space-double;
    }
    @include media('>small') {
      padding-right: $space-and-half;
    }
  }

  &__branding {
    flex-shrink: 0; // prevent from shrinking in flex container
    width: 120px;

    fill: white;

    @include media('>xsmall') {
      width: 150px;
    }
  }

  &__left {
    display: flex;
    align-items: flex-end;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 100%;
  }

  &__donate {
    margin-right: $space;

    @include media('<=small') {
      margin-right: 0;
    }

    @include media('<=medium') {
      font-size: 12px;
      padding-left: $space;
      padding-right: $space;
    }
  }

  &__close {
    width: 17px;
    height: 17px;
    fill: white;
  }

  &__title {
    font-size: $font-size-s-m;
    color: $c-white;
    font-weight: normal;
    line-height: 1.2;
    padding: 0 $space-double 0 $space;

    @include media('>medium') {
      padding-left: $space-and-half;
      padding-right: 50px;
    }

    @include media('>xlarge') {
      padding-right: 100px;
    }

    @include media('<=large') {
      display: none;
    }
  }

  &__share {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 170px;

    @include media('>xsmall') {
      margin-right: $space-half;
    }

    > span {
      @include media('<=small') {
        display: none;
      }
    }

    .c-share-tools {
      width: 100%;
    }

    .c-share-tools__group {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 $space-half 0 $space-half;
    }

    .c-share-tools__link {
      margin: 0;

      @include media('<=small') {
        width: $space-double;
      }
      path {
        fill: $c-white;
      }
    }
  }

  // Gallery and Article floating header specific styles
  &--article,
  &--gallery {

    .c-side-menu {
      height: 100vh !important; // For prototype purposes to override an inline style
    }

    .c-main-header__branding path {
      @include media('<=medium') {
        display: none;
      }
    }

    .c-main-header__share > span,
    .c-search-toggle {
      @include media('<=small') {
        display: none;
      }
    }
  }

  // Article overlay header type
  &--article {
    .c-main-header__branding {
      @include media('<=small') {
        display: none;
      }
    }
  }

  // Gallery overlay header type
  &--gallery {
    display: none;
  }
}

/**
 * Floating headers
 */
.c-floating-header {
  position: fixed;
  top: -$heading-height - $space-half;
  width: 100%;
  z-index: $z-index-floating-header;
  transform: translateY(0);
  transition: transform .25s $hard-ease-in;

  &.is-visible {
    transform: translateY(#{$heading-height + $space-half});
  }
}


.c-search-toggle {
  width: 40px;
  height: 40px;
  transform: translate(-5px, 2px);

  &:hover {
    path {
      fill: $c-primary;
    }
  }

  @include media('<=small') {
    display: none;
  }

  &__icon {
    path {
      fill: $c-white;
      transition: all 0.25s ease-in-out;
    }
  }
}

.c-content-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $c-white;
  z-index: $z-index-content-overlay;
  left: -100%;
  top: 0;
  opacity: 0;
  transform: translateX(0);
  transition: opacity .3s ease-out, transform .3s ease-out .4s;
}
// side menu is open
.side-menu-is-active {
  .c-content-overlay {
    opacity: .5;
    transform: translateX(100vw);
    transition: opacity .2s ease-in;
  }
}


/**
 * Side menu
 */
.c-side-menu {
  position: absolute;
  width: 100%;
  background-color: $c-heading-bgcolor;
  left: -100%;
  top: 0;
  z-index: $z-index-side-menu;
  padding-bottom: $space-double;
  transition: transform .3s $hard-ease-in;
  overflow: auto;
  height: calc(100vh - #{$heading-height}px);
  //height: 100vh;

  @include media('>small') {
    max-width: 360px;
    left: -360px;
  }

  @include media('>medium') {
    max-width: 500px;
    left: -500px;
  }

  &__group {
    padding: $space-and-half;
    &:not(:last-child) {
      @include border-accent(right, center, rgba($c-gray, .2));
    }

    @include media('>medium') {
      padding-left: $space-quad;
      padding-right: $space-quad;
    }
  }

  &__branding {
    width: 180px;
    margin: $space-half auto $space-half;

    fill: white;
  }

  &__social {
    .c-share-tools {
      fill: white;
      justify-content: center;
    }
  }

  &__secondary-nav {

    .c-secondary-nav {
      margin-bottom: $space;

      &__list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;
      }

      &__item {
        margin-bottom: $space-and-half;
      }

      &__link {
        margin: 0 $space;

        @include media('>medium') {
          margin: 0 $space-and-half;
        }
      }
    }
  }

  &__donate {
    width: calc(100% - #{$space});
    margin-bottom: $space;
  }

  &__send-story {
    @include media('<=xsmall') {
      font-size: 14px;
    }
  }

  &__nypr-logo {
    width: 120px;
    margin: $space-double auto $space-half;
    path,
    polygon {
      fill: $c-white;
    }
  }

  .c-nypr-nav {

    &__list {
      width: calc(100% + #{$space-double});
    }
  }

  &__copyright {
    p {
      line-height: 2.5;
    }
  }

  &__terms-links {
    display: flex;
    justify-content: space-between;
  }
}

// Side menu is active
.side-menu-is-active {

  .c-side-menu {
    transform: translateX(100%);

    @include media('>small') {
      transform: translateX(360px);
    }

    @include media('>medium') {
      transform: translateX(500px);
    }
  }
}
