/*------------------------------------*\
    $TEXT TYPES
\*------------------------------------*/

/**
 * Font Families
 */
.u-font {
  font-family: $ff-font;
}

.u-font--primary {
  font-family: $ff-font--primary;
}

@mixin font-secondary-style {
  font-family: $ff-font--secondary;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.u-font--secondary {
  font-family: $ff-font--secondary;

  &-style {
    @include font-secondary-style;
  }
}

/**
 * Text Sizes
 */
.u-font--xs {
  font-size: $font-size-xs;
}

.u-font--s {
  font-size: $font-size-s;
}

.u-font--m {
  font-size: $font-size-m;
}

.u-font--l {
  font-size: $font-size-l;
}

.u-font--xl {
  font-size: $font-size-xl;
}

.u-font--xxl {
  font-size: $font-size-xxl;
}

/**
 * Primary type styles
 */

/**
 * Text Transforms
 */
.u-text-transform--upper {
  text-transform: uppercase;
}

.u-text-transform--lower {
  text-transform: lowercase;
}

/**
 * Text Styles
 */
.u-text-style--italic {
  font-style: italic;
}

.u-font-weight--normal {
  font-weight: normal;
}

/**
 * Text Decorations
 */
.u-text-decoration--underline {
  text-decoration: underline;
}

/**
 * Rich text editor text
 */
.o-rte-text {
  font-family: $ff-font--secondary;

  > dl dd,
  > dl dt,
  > ol li,
  > ul li,
  > p {
    @include p;
  }

  a {
    border-bottom: 2px dotted $c-link-color;

    &:hover {
      color: darken($c-link-color, 10%);
      border-bottom-color: darken($c-link-color, 10%);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-top: $space;
    font-weight: normal;
  }

  h1 {
    font-size: 34px;
    font-weight: bold;
    @include media('>large') {
      font-size: 50px;
    }
  }

  h2 {
    font-size: $font-size-l;
  }

  h3 {
    font-size: $font-size-m;
  }

  h4 {
    font-size: 26px; // Not in type styles
  }

  h5, h6 {
    font-size: $font-size-xs;
    @include font-secondary-style;
  }

  h2:empty,
  h3:empty,
  p:empty {
    display: none;
  }

  // Heading + subheading lockup
  h2 + h3 {
    margin-top: 0;
    padding-bottom: $space-half;
  }

  > ul,
  > ol {
    position: relative;
    list-style: none;
    padding-left: $space;
    padding-top: $space;
    margin-bottom: $space-double;

    @include media('>large') {
      margin-left: $space;
    }

    &:last-child {
      margin-bottom: 0;
    }

    li {
      margin-bottom: $space;
      position: relative;
    }

    ul,
    ol {
      list-style: none;
      margin-top: $space;
      margin-bottom: $space-half;
      padding-left: $space;
    }
  }

  > ul {

    li {
      &:before {
        content: "";
        position: absolute;
        left: -$space-and-half;
        top: .75em;
        width: 7px;
        height: 7px;
        background-color: $c-secondary;
        border-radius: 50%;
      }

      li {
        &:before {
          background-color: transparent;
          border: 2px solid $c-secondary;
          width: 4px;
          height: 4px;
        }
      }
    }
  }

  > ol {
    counter-reset: counter;

    li {

      &:before {
        counter-increment: counter;
        content: counter(counter);
        color: $c-secondary;
        font-size: $font-size-l;
        position: absolute;
        left: -$space-double;
        top: -.4em;
        font-family: $ff-font--secondary;
      }

      > ol {
        counter-reset: counter;

        > li {
          &:before {
            counter-increment: counter;
            content: counters(counter);
          }
        }
      }
    }
  }

  hr {
    margin-top: $space-and-half;
    @include media('>large') {
      margin-top: $space-double;
      margin-bottom: $space-double;
    }
  }

  code,
  pre {
    font-size: 125%;
  }
}


/**
 * Pullquote (beefed up blockquote)
 */
.o-pullquote {
  margin: auto ($col-width + $gutter) + px $space-triple;
  text-align: center;

  p {
    font-weight: bold;
    font-size: $font-size-xl;
    line-height: 1.05;
    background: none;
    margin: $space 0 0;
    display: inline-block;

    span {
      quotes: "\201C""\201D""\2018""\2019";

      &:before,
      &:after {
        font-family: $ff-font--sans;
      }

      &:before {
        content: open-quote;
      }

      &:after {
        content: close-quote;
      }
    }
  }

  &__author {
    color: $c-septenary;
    font-size: $font-size-xs;
    font-family: $ff-font--secondary;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}


/**
 * Text background accent
 */
.o-bg-text-accent {
  background-image: linear-gradient(rgba($c-septenary, .1), rgba($c-septenary, .3));
  background-position: center bottom .2em;
  background-size: 100% .55em;
  background-repeat: no-repeat;
  padding: 0 $space-half;
  box-decoration-break: clone;
}


/**
 * Kicker (category eyebrow)
 */
.o-kicker {
  display: inline-block;
  padding: 2px 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: $c-senary;
  background-color: $c-quaternary;
  letter-spacing: 1px;
  font-family: $ff-font--monospace;
  font-size: $font-size-xs;
}


/**
 * Caption & credit (used in leads and figures)
 */
 .o-caption {
   padding-top: $space-half;

   p {
     font-size: $font-size-xs;
     font-family: $ff-font--tertiary;
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     @include media('>medium') {
       flex-wrap: nowrap;
     }
   }

   .o-icon--dashed-arrow {
     margin-right: $space-half;
     fill: $c-primary;
     transform: translateY(1px);
   }
 }
 .o-credit {
   margin-left: $space-half;
   @include font-secondary-style;
 }


 /**
  * Back to top of page link
  */
.o-to-top {
  width: 150px;
  margin: $space-double auto;
  display: flex;
  align-items: center;

  // Temporary until i can get the real icon
  .o-icon--up-arrow {
    transform: rotate(-90deg) translateX(4px);
    margin-right: $space-half;
    fill: $c-primary;
  }
}
