/*------------------------------------*\
    $MEDIA OBJECTS
\*------------------------------------*/

.o-figure {
  display: block;
}

.o-figure__image {
  margin-bottom: $space-half;
  cursor: pointer;

  img {
    width: 100%;
  }

  .c-lead-gallery & {
    margin-bottom: $space;
  }
}

/*------------------------------------*\
      Aspect Ratio Managaement
\*------------------------------------*/

// 3:2 ratio
.u-img-ratio--3x2 {
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-top: (2 / 3) * 100%; // height divided by width
    width: 100%;
  }

  > img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;

    margin: auto;

    object-fit: contain;
  }
}
