/*------------------------------------*\
    $LIST TYPES
\*------------------------------------*/

/**
 * Bullet List
 */
.o-bullet-list {
  list-style-type: disc;
  padding-left: $space;

  li {
    overflow: visible;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/**
 * Block lists
 */
.c-block-list {

  // Standard block list with enlarged block list items
  &--large {

    li {
      padding-bottom: $space;
    }

    .c-block__media {
      @include media('>medium') {
        min-width: 360px;
        max-width: 360px;

        img {
          height: auto;
          width: 100%;
        }
      }
    }

    .c-block__title {
      @include media('>medium') {
        font-size: $font-size-l;
      }
    }

    .c-block__object {
      @include media('>medium') {
        padding-left: $space-and-half;
      }
    }

  }
}
