/*------------------------------------*\
    $PAGE SECTIONS
\*------------------------------------*/

.o-section {

  &__heading {
    font-size: $font-size-l;
    display: inline-block;
    padding-bottom: $space-half;
    margin-left: -$space-half;
  }
}

/**
 * Recirculation
 */
.c-recirc-tout {
  padding: $space-double 0;

  @include media('>medium') {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__col1 {
    margin-bottom: $space-triple;
    @include media('>medium') {
      margin-bottom: 0;
      width: calc(56% - #{$space});
    }
  }

  &__col2 {
    @include media('>medium') {
      width: calc(44% - #{$space});
    }
  }
}


/**
 * Block group
 */
.c-block-group {
  padding: $space-double 0 $space;

  @include media('>medium') {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: $space-double 0;
  }


  // Two columns with ad unit
  .c-block-group__col1 {
    margin-bottom: $space-triple;
    @include media('>medium') {
      padding-right: $gutter + px;
      width: calc((100% - 300px) - #{$gutter}px);
    }
  }
  .c-block-group__col2 {
    @include media('>medium') {
      width: 300px;
      // top: 0;
      // position: sticky;
    }
  }

  // With ad
  &--with-ad {
    @include media('<=medium') {
      display: flex;
      flex-wrap: wrap;
      flex-flow: column-reverse;

      .c-block-group__col2 {
        margin-bottom: $space-triple;
      }
    }
  }

  // Single column
  &--single-col {
    display: block;

    .c-block-group__col1 {
      width: 100%;
      padding: 0;

      > .c-block {
        margin-bottom: $space-triple;
      }
    }
  }
}

.c-home {
  &__sections {
    padding-top: $space-triple;

    @include media('>medium') {
      padding-top: $space-quad;
    }
  }
}

/**
 * Featured block groups
 */
.c-featured-blocks {
  border: 3px solid $c-black;
  position: relative;

  @include media('>medium') {
    // Adjusted vertical spacing because of the bottom content break through.
    margin-bottom: calc(#{$space-triple} * 2);
  }

  &__heading {
    position: absolute;
    top: -.6em;
    font-size: $font-size-l;
    right: $space-quad;
    background-color: $c-white;
    padding: 0 $space-half;

    &--wnyc {
      width: 260px;
      white-space: nowrap;
      top: -$space-double;

      @include media('<=medium') {
        right: auto;
        left: $space-half;
      }

      > span {
        display: inline;
      }

      img {
        width: 94px;
        height: 38px;
        display: inline-block;
        position: relative;
        top: $space-quarter;
        margin-left: $space-half;
      }
    }
  }

  &__inner {
    padding: $space-double $space;

    @include media('>medium') {
      padding: $space-double + 5px $space-double;
      display: flex;
      justify-content: space-between;
    }
  }

  &__col1 {
    margin-bottom: $space-double;
    background-color: $c-white;
    @include media('>medium') {
      max-width: 620px;
      padding: 0 $space;
      margin-bottom: -100px;
      margin-right: $space-double;
    }
  }
  &__col2 {
    @include media('>medium') {
      width: 380px;
      margin-right: $space-double;
    }
  }

  // Main featured block group
  &--primary {

    @include media('>medium') {
      margin-bottom: 150px;
    }

    .c-featured-blocks__col1 {
      .c-block__title {
        @include media('>medium') {
          font-size: $font-size-xl;
          line-height: 1.15;
        }
      }
    }
  }

  // Secondary featured block group
  &--secondary {
    .c-featured-blocks__col1,
    .c-featured-blocks__col2 {
      @include media('>medium') {
        width: calc(50% - #{$space});
        margin-left: 0;
      }
    }
  }

}
