/*------------------------------------*\
    $TOUTS
\*------------------------------------*/

.c-membership-tout {
  text-align: center;
  padding: $pad-double;
  background-color: $c-gray;
}


.c-recirc-tout {
  padding: 100px;
  text-align: center;
  background-color: $c-primary;
}
