/*------------------------------------*\
    $LIST TYPES
\*------------------------------------*/

/**
 * Bullet List
 */
.o-bullet-list {
  list-style-type: disc;
  padding-left: $space;

  li {
    overflow: visible;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/**
 * Block lists
 */
.c-block-list {

  // Standard block list with enlarged block list items
  &--large {

    li {
      @include media('<=medium') {
        padding-bottom: $space-half;
      }
    }

  }
}
