/*------------------------------------*\
    $BLOCKS
\*------------------------------------*/

/**
 * Standard block
 */
.c-block {

  &__media {
    margin-bottom: $space-half;
    text-align: right;

    &:hover + .c-block__object .c-block__title-link,
    &:hover .c-block__title-link {
      @include block-hover;
    }
  }

  &__tag {
    color: $c-white;
    background-color: $c-primary;
    vertical-align: top;
    position: relative;
    top: 1px;

    &:hover {
      background-color: $c-tertiary;
    }
  }

  &__title {
    font-weight: bold;
    font-size: $font-size-m;

    a {
      color: $c-black;
      transition: none;

      &:hover {
        @include block-hover;
      }
    }

    &--has-icon a {
      &:after {
        content: "";
        display: inline-block;
        width: $icon-small;
        height: $icon-small;
        margin-left: $space-half;
        margin-bottom: .2em;
        vertical-align: middle;
      }
    }

    // @TODO: Get the colors to populate using the sass vars.
    &--is-gallery a {
      &:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Ctitle%3EGallery Icon%3C/title%3E%3Cpath d='M7.37,7.61l-4.29.45a.62.62,0,0,0-.58.6V22.1a.63.63,0,0,0,.65.61h23.7a.63.63,0,0,0,.65-.61V12.54H16.05C12.15,12.54,9,10.77,7.37,7.61ZM7.88,5a.63.63,0,0,1,.19,0c1.88-.13,3.77-.21,5.65-.23q4.35,0,8.72.28l4.73.49A3.16,3.16,0,0,1,30,8.66V22.1a3.17,3.17,0,0,1-3.15,3.18H3.15A3.17,3.17,0,0,1,0,22.1V8.66A3.18,3.18,0,0,1,2.83,5.5L7.58,5l.3,0ZM27.46,8.72a.63.63,0,0,0-.58-.61l-4.77-.5a95.3,95.3,0,0,0-11.83-.17,7.05,7.05,0,0,0,5.77,2.5H27.46Zm-11,9A1.44,1.44,0,0,0,15,16.23h0a1.44,1.44,0,0,0-1.42,1.45h0a1.42,1.42,0,1,0,2.84,0Zm2.84,0A4.26,4.26,0,1,1,15,13.31,4.32,4.32,0,0,1,19.26,17.68ZM5.05,16.32a1.49,1.49,0,0,1-1.47-1.51h0a1.49,1.49,0,0,1,1.47-1.5H9.44a1.51,1.51,0,0,1,0,3H5.05Z' fill='%23f25917' fill-rule='evenodd'/%3E%3C/svg%3E");
      }
    }

    &--is-video a {
      &:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath d='M20.49,13.63,13.14,9.44a1.6,1.6,0,0,0-.92-.21,1.62,1.62,0,0,0-1.51,1.58v8.38A1.58,1.58,0,0,0,12,20.76l.29,0a1.59,1.59,0,0,0,.8-.21l7.35-4.18A1.6,1.6,0,0,0,21.31,15,1.59,1.59,0,0,0,20.49,13.63Zm-6.56,2.82V13.56L16.46,15Z' fill='%23f25917' /%3E%3Cpath d='M23.71,4.07H6.29A6.21,6.21,0,0,0,0,10.17v9.66a6.21,6.21,0,0,0,6.29,6.1H23.71A6.21,6.21,0,0,0,30,19.83V10.17A6.21,6.21,0,0,0,23.71,4.07Zm3.08,6.1v9.66a3,3,0,0,1-3.08,2.93H6.29a3,3,0,0,1-3.08-2.93V10.17A3,3,0,0,1,6.29,7.24H23.71A3,3,0,0,1,26.79,10.17Z' fill='%23f25917' /%3E%3C/svg%3E%0A");
      }
    }

    &--is-audio a {
      &:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath d='M22.47,9.18a7.66,7.66,0,0,1,0,11.66,1,1,0,0,1-.7.27,1,1,0,0,1-.76-.34,1,1,0,0,1,.11-1.42,5.73,5.73,0,0,0,2-4.32,5.68,5.68,0,0,0-2-4.33A1,1,0,0,1,21,9.34L21,9.28a1,1,0,0,1,1.44-.11Zm3.83-2.4a11,11,0,0,1,0,16.43,1.08,1.08,0,0,1-.69.27,1.09,1.09,0,0,1-.76-.34,1,1,0,0,1,0-1.4l0,0a9,9,0,0,0,0-13.45,1,1,0,0,1-.09-1.4l0,0A1,1,0,0,1,26.3,6.78ZM18.35,3.34a1.57,1.57,0,0,1,.83,1.45V25.2a1.65,1.65,0,0,1-.86,1.45,1.57,1.57,0,0,1-.87.24,1.64,1.64,0,0,1-.86-.24L7,21.14H2.76A2.73,2.73,0,0,1,0,18.44V11.58a2.74,2.74,0,0,1,2.77-2.7H7l9.64-5.54a1.73,1.73,0,0,1,1.73,0ZM2.07,18.41a.72.72,0,0,0,.69.71H6.22V10.91H2.77a.68.68,0,0,0-.7.67v6.83Zm15.07,6.18V5.36L8.33,10.43v9.09l8.81,5.07Zm-7-12.16a1,1,0,0,1,.49-1.35l3.56-1.8a1,1,0,0,1,1.38.44,1,1,0,0,1-.45,1.36h0l-3.56,1.79a1.33,1.33,0,0,1-.48.1A1.09,1.09,0,0,1,10.19,12.43Z' fill='%23f25917' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
      }
    }

    &--is-outbound-link a {
      &:after {
        width: $icon-xsmall;
        height: $icon-xsmall;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath d='M15.46,3.45V0H30V14.54H26.55V5.89L17,15.44,14.56,13l9.55-9.56Z'/%3E%3Cpath d='M20,26.38V14.56h3.62V30H0V6.43H15.44v3.62H3.62V26.38Z'/%3E%3C/svg%3E%0A");
        opacity: .5;
        margin-bottom: .3em;
      }
    }
  }

  &__object {
    padding-top: $space-half;
  }

  &__dek {
    p {
      line-height: 1.45;

      @include media('<=medium') {
        font-size: $font-size-s;
      }
    }
  }
}

.c-block--urgent {

  .c-block__eyebrow > .o-kicker {
    background-color: $c-gray--dark;
    color: $c-white;
  }

  .c-block__title {
    font-weight: bold;
    font-size: $font-size-m;
    line-height: 1.15;

    @include media('>large') {
      font-size: $font-size-xl;
    }

    a {
      color: $c-secondary;
      &:hover {
        @include block-hover;
      }
    }
  }

  .c-block__body {
    display: flex;
    align-items: flex-end;
  }

  .c-block-meta__timestamp {
    margin-right: $space-half;
    color: $c-secondary;
    vertical-align: top;
  }
}


/**
 * Inline blocks (often used in lists)
 */
.c-block--horizontal {
  display: flex;
  align-items: flex-start;

  .c-block__media {
    min-width: 100px;
    max-width: 100px;
    overflow: hidden;
    margin-bottom: 0;

    @include media('>xlarge') {
      min-width: 150px;
      max-width: 150px;
    }
  }

  .c-block__title {
    font-size: $font-size-s-m;
    line-height: 1.1;
  }

  .c-block__object {
    padding: 0 0 0 $space;
    width: 100%;
  }

  // Larger versions of horizontal blocks
  &--large {

    .c-block__media {
      @include media('>medium') {
        min-width: 360px;
        max-width: 360px;

        img {
          height: auto;
          width: 100%;
        }
      }
    }

    .c-block__title {
      @include media('>medium') {
        font-size: $font-size-l;
      }
    }

    .c-block__object {
      @include media('>medium') {
        padding-left: $space-and-half;
      }
    }
  }
}


/**
 * Block meta
 */
.c-block-meta {

  > * + * {
    &:before {
      @include dot-divider;
    }
  }

  &__timestamp,
  &__comments {
    vertical-align: middle;
  }

  &__comments {
    display: inline-flex;
    align-items: center;
    margin-left: $space-half;

    &:hover {
      color: $c-primary;

      .o-icon--comment {
        fill: $c-primary;
      }
    }

    .o-icon--comment {
      margin-right: $space-quarter;
      fill: $c-body-color;
    }
  }
}


/**
 * Author block
 */
$author-media-width-s: 250;
$author-media-width-l: 360;
.c-author-block {
  position: relative;
  overflow: auto;

  &__meta {
    position: relative;
    margin-bottom: $space-half;

    @include media('>small') {
      margin-top: $space-half;
    }
  }

  &__title {
    @include media('>large') {
      font-size: $font-size-l;
    }
  }

  &__role {

    &:after {
      @include media('>small') {
        @include dot-divider;
        margin: 0 $space-half;
      }
    }
  }

  &__social {

    @include media('>small') {
      margin-left: -$space-half;
      margin-bottom: $space-half;
    }
    .c-share-tools__link {
      margin-right: $space-half;
    }
  }

  &__details {
    @include media('<=small') {
      position: absolute;
      right: 0;
      bottom: $space-half;
    }
  }

  &__media {
    margin-bottom: $space-half;

    @include media('>small') {
      max-width: $author-media-width-s + px;
      float: left;
    }

    @include media('>large') {
      max-width: $author-media-width-l + px;
    }
  }

  &__meta,
  &__object {
    @include media('>small') {
      width: calc(100% - #{$author-media-width-s}px - #{$space});
      float: right;
    }

    @include media('>large') {
      width: calc(100% - #{$author-media-width-l}px - #{$space});
    }
  }

  &__dek {

    p {
      display: inline;

      &:not(:first-child) {
        display: none;
      }
    }

    .o-icon {
      width: 12px;
      height: 12px;
      fill: $c-secondary;
    }

    &.this-is-active {
      p {
        display: block;
      }
    }
  }

  .c-author-block__dek-toggle {
    margin: 0;
  }

  &__dek-toggle {
    align-items: center;

    &.this-is-active {
      display: inline-flex;

      .o-icon {
        transform: rotate(180deg);
      }
    }
  }
}
