/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/

/**
 * Validation
 */
.has-error {
  border-color: $c-error !important;
}

.is-valid {
  border-color: $c-valid !important;
}
