/*------------------------------------*\
    $LIST TYPES
\*------------------------------------*/

/**
 * Bullet List
 */
.o-bullet-list {
  list-style-type: disc;
  padding-left: rem(18);

  li {
    overflow: visible;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
