/*------------------------------------*\
    $BLOCKS
\*------------------------------------*/

.c-block {
  &__image {
    img {
      width: 150px;
      height: 100px;

      @include media(">medium") {
        width: 175px;
        height: 125px;
      }


      @include media(">xxlarge") {
        width: 200px;
        height: 150px;
      }
    }
  }
}

