/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

button,
input[type="submit"] {
  appearance: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}

.o-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: $space $space 17px;
  line-height: 22px;
  color: $c-white;
  cursor: pointer;
  transition: all 0.5s ease;
  overflow: hidden;
  font-family: $ff-font--monospace;
  text-transform: uppercase;
  border: none;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  background-color: $c-primary;

  &:hover {
    background-color: $c-primary;
  }

  // Types/Styles
  &--c-quaternary {
    background-color: $c-quaternary;
    color: $c-body-color;

    &:hover {
      background-color: adjust-hue($c-quaternary, 5%);
    }
  }

  // Sizes
  &--sm {
    font-size: 14px;
    padding: 11px 50px 10px;
  }
}
