/*------------------------------------*\
    $MEDIA OBJECTS
\*------------------------------------*/

.o-figure {
  display: block;
}

.o-figure__image {
  border: 2px solid $c-black;
  margin-bottom: $space-half;
  cursor: pointer;

  img {
    width: 100%;
  }

  .c-lead-gallery & {
    margin-bottom: $space;
  }
}
