/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/

/**
 * Toggle box container
 */
.c-toggle-box {
  position: relative;

  &__label {
    position: relative;

    &:before {
      content: "";
      bottom: -22px;
      right: 0;
      position: absolute;
      width: 15px;
      height: 15px;
      background-color: $c-white;
      transform: rotate(-45deg);
      display: none;
    }
  }

  &__label {
    @include font-secondary-style;
  }

  &__content {
    display: none;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    top: $space-double;
    padding: $space;
    background-color: $c-white;
    z-index: 10;
  }

  .c-toggle-box__label {
    color: $c-white;
  }

  .o-icon--caret path {
    fill: $c-white;
  }
}
// Open
.c-toggle-box.this-is-active {

  .c-toggle-box__label:before {
    display: block;
  }

  .c-toggle-box__content {
    display: block;
  }
}

/**
 * Share toggle box
 */
.c-toggle-box--share {

  .c-toggle-box__content {
    width: 115px;
  }

  .c-share-tools__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .c-share-tools__link {
    width: 45%;
  }
}


/**
 * Progress bar
 */
.o-progress {
  position: absolute;
  left: 0;
  bottom: -$space-half;
  width: 100%;
  height: $space-half;
  appearance: none;
  border: none;
  background-color: $c-gray--light;
  color: $c-quaternary;
  z-index: 5;

  &::-webkit-progress-bar {
    background-color: $c-gray--light;
  }
  &::-webkit-progress-value {
    background-color: $c-quaternary;
  }
  &::-moz-progress-bar {
    background-color: $c-quaternary;
  }
}

.c-share-tools {
  display: flex;
  align-items: center;

  &__label {
    margin-right: $space-half;
  }

  &__group {
    display: flex;
    align-items: center;
  }

  &__link {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 0 4px;


    @include media('>small') {
      width: 40px;
    }

    path {
      transition: all 0.25s ease-in-out;
    }

    &:hover {
      path {
        fill: $c-primary;
      }
    }
  }

  @include media('<=small') {
    flex-wrap: wrap;

    &__label {
      flex-basis: 100%;
      margin: 0 0 2px 0;

      + .c-share-tools__group > .c-share-tools__link:first-of-type {
        margin-left: -5px; // align first icon with label if present
      }
    }

    &__link {
      margin: 0;
    }

    &__group {
      flex-wrap: wrap;
    }

    &__group > * + * {
      margin: 0 0 0 $space-quarter;
    }
  }

  &--vertical {
    .c-share-tools__group {
      flex-wrap: wrap;
    }

    .c-share-tools__link {
      flex-basis: 100%;
      margin: 4px 0;
    }
  }
}
