/*------------------------------------*\
    $TOUTS
\*------------------------------------*/


/**
 * Contact/sent tip
 */
.c-contact-tout {
  padding: $space $space-and-half;
}


/**
 * Donate bar
 */
.c-donate-tout {
  padding: $space-double;
  background-color: $c-quinary;
  position: relative;
  width: 100%;
  max-width: ($col-width * 14) + ($gutter * 12) + px;
  margin: 70px 0 0 auto;
  position: fixed;
  z-index: $z-index-donate-tout;
  right: -#{($col-width * 15) + ($gutter * 13) + px};
  bottom: 50px;
  transform: translateX(0);
  transition: transform .2s $hard-ease-in;
  box-shadow: 0 0 10px rgba($c-black, .2);

  &--static {
    box-shadow: none;
    max-width: none;
    position: static;

    .c-donate-tout__inner {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      max-width: ($col-width * 14) + ($gutter * 12) + px;
    }

    .c-donate-tout__graphic {
      top: -56px;
      left: -$space-double;
    }

    .c-donate-tout__close {
      display: none;
    }
  }

  &.is-active {
    transform: translateX(-#{($col-width * 15) + ($gutter * 13) + $space});
  }

  @include media('<=xlarge') {
    max-width: 270px;
    right: -#{($col-width * 6) + ($gutter * 4) + px};

    &.is-active {
      transform: translateX(-#{($col-width * 6) + ($gutter * 5) + px});
    }
  }

  &__inner {

    @include media('>xlarge') {
      padding: 0 $space 0 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    p {
      @include media('>xlarge') {
        width: calc(65% - #{$space});
      }
    }

    .o-button {
      width: 100%;
      margin-top: $space;
      @include media('>xlarge') {
        margin-top: 0;
        width: 35%;
      }
    }
  }

  &__graphic {
    width: 120px;
    height: 133px;
    position: relative;
    margin-left: -55px;
    margin-top: -85px;
    margin-right: $space-half;
    float: left;
    path {
      fill: $c-senary;
    }

    @include media('>xlarge') {
      float: none;
      margin: 0;
      position: absolute;
      left: -$space;
      top: -$space;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
  }
}


/**
 * Sponsored tout
 */
.c-sponsored-tout {
  width: 100%;
  border: 2px dashed $c-black;
  padding: $space-triple $space-quad;
  background-color: $c-octonary;
  position: relative;

  &__heading {
    position: absolute;
    top: -.6em;
    font-size: $font-size-l;
    left: $space-quad;
    background-color: $c-white;
    padding: 0 $space-half;
  }

  .c-block {
    display: flex;
    align-items: flex-start;
  }

  .c-block__media {
    width: 100%;
    max-width: 328px;
    margin-right: $space-and-half;
  }
}
