/*------------------------------------*\
    $HELPER/TRUMP CLASSES
\*------------------------------------*/

/**
 * Completely remove from the flow but leave available to screen readers.
 */
.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * Hide elements only present and necessary for js enabled browsers.
 */
.no-js .no-js-hide {
  display: none;
}

.u-full-width {
  width: 100%;
}

/**
 * Border accents
 */
.u-border-accent {
  @include border-accent;
}
.u-border-accent--right {
  @include border-accent(bottom);
}
.u-border-accent--left {
  @include border-accent(bottom, left);
}


/**
 * Reversed out content
 */
.u-reversed-out {
  background-color: $c-dark-bg;
  color: $c-white;

  a {
    color: $c-quaternary;
    border-bottom-color: $c-white;

    &:hover {
      color: $c-quinary;
    }
  }
}
