{% extends "main.twig" %}
{% block main %}
  <div class="c-floating-header">
    {% include 'organisms-header-article' %}
    {% if is_gallery %}
      {% include 'organisms-header-gallery-overlay' %}
    {% endif %}
  </div>
  <div class="u-section-spacing l-container l-wrap">
    <article class="c-article l-container u-spacing--double u-trigger-floating-header">
      {% include 'organisms-article-header' %}
      {% include 'organisms-article-body' %}
      <div class="l-container--content u-section-spacing">
        {% include 'organisms-article-footer' %}
      </div>
      <div class="l-container l-container--14col">
        {% include 'organisms-recirculation' %}
      </div>
    </article>
    <div class="c-article__read-more l-container l-container--14col">
      {% include '@molecules/navigation/read-more.twig' %}
    </div>
  </div>
  {% if is_gallery %}
    <div class="c-article__gallery">
      {% include 'organisms-gallery-overlay' %}
    </div>
  {% endif %}
{% endblock %}
