{% include '@organisms/global/header.twig' %}
<main class="c-main l-container u-spacing--double">
  <article class="c-article u-spacing--double">
    {% include '@organisms/article/article-header.twig' %}
    {% include '@molecules/leads/lead.twig' %}
    {% include '@organisms/article/article-body.twig' %}
  </article>
</main>
{% include '@organisms/global/footer.twig' %}
