{% include '@organisms/global/header.twig' %}
<main class="c-main u-spacing--double">
  <article class="c-article l-container u-spacing--double">
    {% include '@organisms/article/article-header.twig' %}
    {% include '@molecules/leads/lead.twig' %}
    {% include '@organisms/article/article-body.twig' %}
    <div class="l-container--content u-spacing--double">
      {% include '@organisms/article/comments.twig' %}
      {% include '@organisms/touts/recirculation.twig' %}
    </div>
  </article>
  {% include '@organisms/touts/membership.twig' %}
</main>
{% include '@organisms/global/footer.twig' %}
