{% extends "main.twig" %}
{% block main %}
  <div class="u-section-spacing l-container l-wrap">
    <article class="c-article l-container u-spacing--double">
      {% include 'organisms-article-header' %}
      {% include 'organisms-article-body' %}
      <div class="l-container--content u-section-spacing">
        {% include 'organisms-article-footer' %}
      </div>
      <div class="l-container l-container--14col">
        {% include 'organisms-recirculation' %}
      </div>
    </article>
  </div>
  {% if is_gallery %}
    <div class="c-article__gallery">
      {% include 'organisms-gallery-overlay' %}
    </div>
  {% endif %}
{% endblock %}
