{% include '@organisms/global/header.twig' %}
<div class="l-container">
  <main class="c-main u-spacing--double">
    <article class="c-article">

    </article>
  </main>
  {% include '@organisms/global/footer.twig' %}
</div>
