{% include '@organisms/global/header.twig' %}
<main class="c-main u-spacing--double l-container l-wrap">
  <article class="c-article l-container u-spacing--double">
    {% include '@organisms/article/article-header.twig' %}
    {% include '@organisms/article/article-body.twig' %}
    <div class="l-container--content u-spacing--double">
      {% include '@organisms/article/article-footer.twig' %}
    </div>
    <div class="l-container l-container--14col">
      {% include '@organisms/touts/recirculation.twig' %}
    </div>
  </article>
</main>
{% include '@organisms/global/footer.twig' %}
