{% extends "main.twig" %}
{% block main %}

  <div class="c-floating-header">
    {%
      include 'organisms-header'
      with {
        "has_ad": false
      }
    %}
  </div>

  <div class="u-spacing--quad c-staff u-trigger-floating-header">

    <div class="c-listing__sections u-section-spacing l-container l-container--14col l-wrap">

      <header class="c-staff__header">
        <h1 class="c-staff__heading o-3d-heading">Our Team</h1>
      </header>

      <section class="c-listing__section o-section">
        {% include '@molecules/lists/author-block-list.twig' %}
      </section>

    </div>

  </div>

{% endblock %}
