{% extends "main.twig" %}
{% block main %}

  <div class="c-floating-header">
    {%
      include 'organisms-header'
      with {
        "has_ad": false
      }
    %}
  </div>

  <div class="c-listing__sections u-section-spacing l-container l-container--14col l-wrap">

    <header class="c-tag-listing__header u-trigger-floating-header">
      <h1 class="c-tag-listing__heading u-font--secondary">{{ tag_heading }}</h1>
    </header>

    <hr class="u-border-accent u-hide-until--m" aria-hidden="true">

    {% block block_section_1 %}
      <section class="c-listing__section o-section">
        {% include '@molecules/lists/block-list-large.twig' with block_section_1 %}
      </section>
    {% endblock %}

    {% include '@organisms/touts/newsletter-signup.twig' %}

    {% block block_section_2 %}
      <section class="c-listing__section o-section">
        {% include '@molecules/lists/block-list-large.twig' with block_section_2 %}
      </section>
    {% endblock %}

    <hr class="u-border-accent u-hide-until--m" aria-hidden="true">

    <div class="c-listing__ad">
      {% include '@molecules/ad-units/300x250.twig' %}
    </div>

    <hr class="u-border-accent u-hide-until--m" aria-hidden="true">

    <div class="u-spacing--quad">

      {% block block_section_3 %}
        <section class="c-listing__section o-section">
          {% include '@molecules/lists/block-list-large.twig' with block_section_3 %}
        </section>
      {% endblock %}

      <div class="u-align-center">
        {%
          include '@atoms/buttons/button.twig'
          with {
            "button_text": "More Results",
            "button_classes": "o-button--c-quaternary o-button--extra"
          }
        %}
      </div>

    </div>

  </div>

{% endblock %}
