/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/

h1,
.o-heading--xxl {
  font-family: $ff-font--primary;
  font-size: var(--font-size-xxl);
  line-height: 1;
  letter-spacing: -0.035em;
}

h2,
.o-heading--xl {
  font-family: $ff-font--primary;
  font-size: var(--font-size-xl);
  line-height: 1.15;
  letter-spacing: -0.035em;
}

h3,
.o-heading--l {
  font-family: $ff-font--primary;
  font-size: var(--font-size-l);
  line-height: 1.25;
  letter-spacing: -0.035em;
}

h4,
.o-heading--m {
  font-family: $ff-font--primary;
  font-size: var(--font-size-m);
  line-height: 1.35;
  letter-spacing: -0.035em;
}

h5,
.o-heading--s {
  font-family: $ff-font;
  font-size: var(--font-size-s);
}

h6,
.o-heading--xs {
  font-family: $ff-font;
  font-size: var(--font-size-xs);
}
