/*------------------------------------*\
    $TEXT ELEMENTS
\*------------------------------------*/

/**
 * Text-Related Elements
 */
p {
  @include p;

  &:last-child {
    margin-bottom: 0;
  }
}

small {
  font-size: 90%;
}

/**
 * Bold
 */
strong,
b {
  font-weight: bold;
}

/**
 * Blockquote
 */
blockquote {
  padding: 0;
  border: none;
  text-align: left;
  position: relative;
  quotes: "\201C""\201D""\2018""\2019";
  padding-left: $space;

  p {
    font-size: rem(24);
    line-height: 1.3;
    position: relative;
    z-index: 10;
    font-style: italic;
    text-indent: rem(25);
    margin-top: $space;

    &:first-child {
      margin-top: 0;
    }

    &:after {
      content: close-quote;
    }

    &:before {
      content: open-quote;
      position: absolute;
      left: rem(-20);
      top: 0;
    }
  }
}

/**
 * Horizontal Rule
 */
hr {
  height: 1px;
  border: none;
  background-color: $c-border-color;
  margin: 0 auto;
}

/**
 * Abbreviation
 */
abbr {
  border-bottom: 1px dotted $c-border-color;
  cursor: help;
}
