/*------------------------------------*\
    $WRAPPERS & CONTAINERS
\*------------------------------------*/

/**
 * Wrapping element to keep content contained and centered.
 */
.l-wrap {
  margin: 0 auto;
  padding-left: $space;
  padding-right: $space;
  width: 100%;
  position: relative;
}

/**
 * Layout containers - keep content centered and within a maximum width. Also
 * adjusts left and right padding as the viewport widens.
 */

.l-container {
  max-width: $max-width;

  @include u-center-block;
}

.l-container--s {
  max-width: rem(600);

  @include u-center-block;
}

.l-container--s-m {
  max-width: rem(800);

  @include u-center-block;
}

.l-container--m {
  max-width: rem(900);

  @include u-center-block;
}

.l-container--m-l {
  max-width: rem(1140);

  @include u-center-block;
}

.l-container--l {
  max-width: rem(1260);

  @include u-center-block;
}

.l-container--xl {
  max-width: rem(1560);

  @include u-center-block;
}
