/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

.c-footer {
  padding-top: $space*4;
  padding-bottom: $space;
  position: relative;
  border-top: 1px solid $c-border-color;

  a {
    &:hover {
      color: $c-primary;
    }
  }

  &.is-slim {
    .c-footer__nav-primary {
      display: none;
    }

    .c-footer__nav-secondary {
      display: flex;
    }

    .c-footer__social {
      order: 0;
    }

    .c-footer__copyright {
      order: 1;
      text-align: center;
    }

    .c-footer__logo {
      order: 2;
    }
  }

  &__nav {
    &-primary{
      &__heading {
        padding-bottom: $space/2;
      }

      &__list-item {
        @include media('>medium') {
          margin-top: $space/2;
        }
      }
    }

    &-secondary {
      display: none;

      &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
      }

      &__link {
        padding: 0 $space/2;
      }
    }
  }

  &__copyright {
    text-align: center;

    @include media('>medium') {
      text-align: left;
    }
  }

  &__social {
    justify-self: center;
  }

  &__logo {
    justify-self: center;

    @include media('>medium') {
      justify-self: end;
    }

    svg {
      width: rem(40);
      height: rem(40);
    }
  }

  &__utility {
    grid-row-gap: $space;
  }
}
