/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

.o-button,
button,
input[type="submit"] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: rem(13);
  padding: rem(15) rem(20) rem(13);
  line-height: 1.2;
  color: $c-white;
  cursor: pointer;
  transition: all 0.5s ease;
  overflow: hidden;
  font-family: $ff-font--primary;
  text-transform: uppercase;
  border: none;
  font-weight: 600;
  outline: 0;
  text-align: left;
  background: linear-gradient(to right, darken($c-button-color, 10) 50%, $c-button-color 50%);
  background-size: 300% 150%;
  background-position: right 0 bottom 0;

  &:hover {
    color: $c-white;
    background-position: left 0 bottom 0;
  }

  font {
    margin-right: $space / 2;
  }

  .u-icon {
    display: inline-flex;

    svg {
      width: $icon-medium;

      path {
        transition: all 0.3s ease;
      }
    }
  }
}
