@import "tools.mixins";

/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

/**
 * Grid & Baseline Setup
 */
$ff-fontpx: 16; // Font size (px) baseline applied to <body> and converted to %.
$defaultpx: 16; // Browser default px used for media queries
$rembase: 16; // 16px = 1.00rem
$max-width-px: 1260;
$max-width: rem($max-width-px) !default;

/**
  * Theme Colors
  */
$c-red: #d21115;
$c-yellow: #feca0e;

$c-primary: #a00;
$c-secondary: #00a8a9;
$c-tertiary: $c-yellow;


/**
 * Neutral Colors
 */
$c-black: #000000;
$c-gray: #E6E6E6;
$c-gray--light: #f3f3f3;
$c-white: #ffffff;

/**
 * Default Colors
 */
$c-error: #f00;
$c-valid: #089e00;
$c-warning: #fff664;
$c-information: #000db5;
$c-overlay: rgba($c-black, 0.8);

/**
 * Style Colors
 */
$c-body-color: $c-black;
$c-link-color: $c-black;
$c-button-color: $c-secondary;
$c-border-color: $c-gray;

/**
 * Typography
 */
$ff-font: 'Arial', sans-serif;
$ff-font--primary: "Gotham A", "Gotham B", "Gotham HTF", "Gotham", Helvetica, sans-serif;
$ff-font--sans: $ff-font--primary;
$ff-font--serif: 'Times New Roman', serif;
$ff-font--monospace: Menlo, Monaco, "Courier New", "Courier", monospace;

/**
 * Icons
 */
$icon-xsmall: rem(15);
$icon-small: rem(20);
$icon-medium: rem(30);
$icon-large: rem(40);
$icon-xlarge: rem(50);

/**
 * Common Breakpoints
 */
$xsmall: 360px;
$small: 500px;
$medium: 768px;
$large: 900px;
$xlarge: 1100px;
$xxlarge: 1300px;
$xxxlarge: 1500px;

$breakpoints: (
  'xsmall': $xsmall,
  'small': $small,
  'medium': $medium,
  'large': $large,
  'xlarge': $xlarge,
  'xxlarge': $xxlarge,
  'xxxlarge': $xxxlarge
);

/**
 * Animation
 */
$cubic-bezier: cubic-bezier(0.860, 0.000, 0.070, 1.000);

/**
 * Border Styles
 */
$border-med: 6px;
$border-thick: 8px;
$border-opacity: 1px solid rgba($c-white, .2);
$border-style: 1px solid $c-border-color;
$border-style-thick: 3px solid $c-border-color;

/**
 * Default Spacing/Padding
 */
$space-mobile: 20px;
$space: 20px;

/**
 * Native Custom Properties
 */
:root {
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 20px;
  --font-size-xl: 25px;
  --font-size-xxl: 40px;
}

// Small Breakpoint
@media screen and (min-width: 500px) {
  :root {
    --font-size-xs: 14px;
    --font-size-s: 16px;
    --font-size-m: 18px;
    --font-size-l: 25px;
    --font-size-xl: 35px;
    --font-size-xxl: 55px;
  }
}

// Large Breakpoint
@media screen and (min-width: 1100px) {
  :root {
    --font-size-xs: 15px;
    --font-size-s: 19px;
    --font-size-m: 20px;
    --font-size-l: 30px;
    --font-size-xl: 45px;
    --font-size-xxl: 80px;
  }
}
