<button class="o-menu-toggle js-toggle" data-toggled="this" data-prefix="side-menu" id="menu-toggle" aria-expanded="false">
  <span class="is-vishidden">Menu</span>
  <span class="o-menu-toggle__line"></span>
</button>
