{%
  include '@organisms/global/header.twig'
  with {
    "is_stationary": true
  }
%}
<main class="c-main {{ main_classes }}">
  {% block main %}
    <p>Content Placeholder</p>
  {% endblock %}
</main>
{% include '@organisms/global/footer.twig' %}
