<div class="c-brand-social">
  <span class="c-brand-social__label u-font--mono u-font--xs u-color--white">Follow Us</span>
  <a href="" class="c-brand-social__link o-icon u-icon--xs">{% include '@atoms/icons/icon-facebook.twig' %}</a>
  <a href="" class="c-brand-social__link o-icon u-icon--xs">{% include '@atoms/icons/icon-twitter.twig' %}</a>
  <a href="" class="c-brand-social__link o-icon u-icon--xs">{% include '@atoms/icons/icon-instagram.twig' %}</a>
  <a href="" class="c-brand-social__link o-icon u-icon--xs">{% include '@atoms/icons/icon-youtube.twig' %}</a>
</div>
