<div class="c-share-tools">
  {% if label %}
    <span class="c-share-tools__label u-font--secondary-style u-font--xs u-color--white">{{ label }}</span>
  {% endif %}
  <div class="c-share-tools__group">
    <a href="" class="c-share-tools__link"><span class="o-icon u-icon--xs">{% include '@atoms/icons/icon-facebook.twig' %}</span></a>
    <a href="" class="c-share-tools__link"><span class="o-icon u-icon--xs">{% include '@atoms/icons/icon-twitter.twig' %}</span></a>
    <a href="" class="c-share-tools__link"><span class="o-icon u-icon--s">{% include '@atoms/icons/icon-reddit.twig' %}</span></a>
    <a href="" class="c-share-tools__link"><span class="o-icon u-icon--xs">{% include '@atoms/icons/icon-email.twig' %}</span></a>
  </div>
  {#
    <div class="c-share-tools__extra">
      <a href="" class="c-share-tools__link"><span class="o-icon u-icon--xs">{% include '@atoms/icons/icon-email.twig' %}</span></a>
    </div>
  #}
</div>
