<div class="c-share-tools {% if is_vertical %}c-share-tools--vertical{% endif %}">
  {% if label %}
    <span class="c-share-tools__label u-font--secondary-style u-font--xs u-color--white">{{ label }}</span>
  {% endif %}
  <div class="c-share-tools__group">
    {% if has_facebook %}<a href="" class="c-share-tools__link o-icon">{% include '@atoms/icons/icon-facebook.twig' %}</a>{% endif %}
    {% if has_twitter %}<a href="" class="c-share-tools__link o-icon">{% include '@atoms/icons/icon-twitter.twig' %}</a>{% endif %}
    {% if has_instagram %}<a href="" class="c-share-tools__link o-icon">{% include '@atoms/icons/icon-instagram.twig' %}</a>{% endif %}
    {% if has_reddit %}<a href="" class="c-share-tools__link o-icon">{% include '@atoms/icons/icon-reddit.twig' %}</a>{% endif %}
    {% if has_email %}<a href="" class="c-share-tools__link o-icon">{% include '@atoms/icons/icon-email.twig' %}</a>{% endif %}
    {#
      Testing adding the print button back.
      {% if has_print %}<a href="" class="c-share-tools__link c-share-tools__link--print o-icon">{% include '@atoms/icons/icon-print.twig' %}</a>{% endif %}
    #}
    {% if has_website %}<a href="" class="c-share-tools__text-link u-font--secondary-style u-has-accent u-has-accent--secondary u-font--xxs">Website</a>{% endif %}
  </div>
</div>
