<a href="#page-top" class="o-to-top u-font--secondary-style u-font--xs u-color--black"><span class="o-icon o-icon--up-arrow u-icon--m">{% include '@atoms/icons/icon-skinny-arrow.twig' %}</span> <strong>Back to Top</strong></a>
