<span class="o-byline">By <a class="u-has-accent u-has-accent--neutral" href="" rel="author">{{ byline.author }}</a> {% if contributors %} with contributions by <a class="u-has-accent u-has-accent--neutral" href="">{{ contributors }}</a>{% endif %}</span>
