<div class="c-welcome-page">
  <div class="c-welcome-page__logo">
    <img src="/images/radial-assets/radial-logo.svg" alt="Radial Design System">
    <a href="#start" class="c-welcome-page__start js-smooth-scroll">{% include 'atoms-icon-dashed-arrow' %}</a>
  </div>
</div>

<div class="c-style-guide" id="start">
  <div class="l-container l-wrap u-spacing--quad">
    {% include 'organisms-theme-colors' %}
    <hr>
    {% include 'organisms-theme-type' %}
  </div>
</div>
