<div class="o-ad o-ad--300x250">
  <img src="https://s0.2mdn.net/8766144/CWDisplayAds_OutsideHPTO_300x250.jpg" alt="">
  <span class="o-ad__label u-font--secondary-style u-font--xxs">Advertisement</span>
</div>
