<div class="o-ad o-ad--billboard">
  <picture>
    <source media="(min-width: 1000px)" srcset="http://placehold.it/970x250">
    <source media="(min-width: 750px)" srcset="http://placehold.it/728x90">
    <img src="http://placehold.it/300x250" alt="">
  </picture>
  <span class="o-ad__label u-font--secondary-style u-font--xs u-color--gray">Advertisement</span>
</div>
