<div class="o-breadcrumbs">
  {% for breadcrumb in breadcrumbs %}
    <a class="o-breadcrumb" href="">{{ breadcrumb.kicker }}</a>
  {% endfor %}
  {% if is_sponsored %}
    <span class="o-breadcrumb o-tag--sponsored">Sponsored</a>
  {% endif %}
</div>
