{% extends "toggle-box.twig" %}
{% set toggle_box_classes = "c-toggle-box--linkroll" %}
{% set toggle_box_label = "View All Brands" %}

{% block toggle_content %}
  <nav class="c-nypr-nav" role="navigation" aria-label="NYPR brands navigation">
    <ul class="c-nypr-nav__list">
      {% for item in nypr_nav_items %}
        <li class="c-nypr-nav__item"><a class="c-nypr-nav__link u-has-accent u-has-accent--secondary" href="#">{{ item.link }}</a></li>
      {% endfor %}
    </ul>
  </nav>
{% endblock %}
