<nav class="c-read-more-nav u-breakout">
  <span class="c-read-more-nav__label u-font--secondary-style u-font--xs">Read More In:</span>
  <div class="c-read-more-nav__wrap">
    <ul>
      {% for item in primary_nav_items %}
        <li class="c-read-more-nav__item"><a href="#" class="c-read-more-nav__link u-has-accent u-has-accent--primary">{{ item.link }}</a></li>
      {% endfor %}
    </ul>
  </div>
</nav>
