<footer class="c-main-footer">

  {% include '@molecules/text/back-to-top.twig' %}</span>

  <div class="l-container u-spacing--triple">

    <div class="c-main-footer__inner">

      <div class="c-main-footer__col1 u-spacing--triple">

        <div class="c-main-footer__branding">

          <div class="c-main-footer__logo">
            {% include '@atoms/images/gothamist-logo--stacked.twig' %}
          </div>

          <div class="c-main-footer__utility">

            <a href="" class="c-main-footer__send-story u-font--secondary-style u-font--xs"><strong>Send Us a Story Idea</strong></a>

            <div class="c-main-footer__social">
              {% include '@molecules/social/brand-social-links.twig' %}
            </div>
          </div>

        </div>

        <div class="c-main-footer__slogan">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>

        <div class="c-main-footer__nav">
          {% include '@molecules/navigation/secondary.twig' %}
        </div>

        <div class="c-main-footer__brand-group">
          <div class="c-main-footer__nypr-logo">
            {% include '@atoms/images/nypr-logo.twig' %}
          </div>

          {% include '@molecules/navigation/nypr-brands-linkroll.twig' %}
        </div>

      </div>

      <div class="c-main-footer__col2">

        <div class="c-main-footer__signup">
          {% include '@molecules/forms/newsletter.twig' %}
        </div>

      </div>

    </div>

    <div class="c-main-footer__bottom">

      <div class="c-main-footer__copyright">
        <p class="u-font--secondary-style u-font--xs u-color--white">&copy; 2019 New York Public Radio. All rights reserved.</p>
      </div>

      <div class="c-main-footer__terms-links">
        <a href="" class="u-font--secondary-style u-font--xs"><strong>Terms of Use</strong></a>
        <a href="" class="u-font--secondary-style u-font--xs"><strong>Privacy Policy</strong></a>
      </div>

    </div>

  </div>

</footer>
