<header class="c-main-header js-this {{ main_header_classes }}">

  {% if has_ad %}
    <div class="c-main-header__ad-unit">
      {% include 'molecules-leaderboard'
        with {
          "hide_label": true
        }
      %}
    </div>
  {% endif %}

  <div class="c-main-header__inner js-stop-prop">

    {% block header_type %}
      {% include 'molecules-header-meta' %}
    {% endblock %}

    <div class="c-content-overlay"></div>
  </div>

  {% if has_progress_bar %}
    {% include 'molecules-progress-bar' %}
  {% endif %}
</header>
