<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><title>Check Icon</title><path d="M26.08,3.56l-2,1.95L10.61,19l-5-4L3.47,13.29,0,17.62l2.17,1.73L9.1,24.9,11,26.44l1.77-1.76L28.05,9.43,30,7.48Z"/></svg>
