<div class="c-comments">
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = 'http://gothamist.com/2019/02/25/gertie_williamsburg_luncheonette.php';  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = '706536'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
      var d = document, s = d.createElement('script');

      s.src = '//gothamist.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!

      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
