/* ------------------------------------*\
    $MIXINS
\*------------------------------------ */

/**
 * Standard paragraph
 */
@mixin p {
  font-family: $ff-font--tertiary;
  font-size: 18px;
  line-height: 1.8;

  @media print {
    font-size: 12px;
    line-height: 1.3;
  }
}

/**
 * Dashed border accent
 */
@mixin border-accent($direction: right, $position: right, $color: $c-gray) {
  background-image: linear-gradient(to $direction, transparent 50%, $color 50%);
  background-position: $position bottom;
  @if $direction == "right" {
    background-repeat: repeat-x;
    background-size: 16px 1px;
  }
  @else {
    background-repeat: repeat-y;
    background-size: 1px 16px;
  }
}
