/* ------------------------------------*\
    $MIXINS
\*------------------------------------ */

/**
 * Standard paragraph
 */
@mixin p {
  font-family: $ff-font--tertiary;
  font-size: 18px;
  line-height: 1.5;

  @media print {
    font-size: 12px;
    line-height: 1.3;
  }
}
