/*------------------------------------*\
    $THEME OVERRIDES
\*------------------------------------*/

.c-main-header {

  // Header with full stacked logo
  &--emphasis {

    .c-main-header__branding {
      width: 110px;
      position: relative;
      bottom: -$space;
      align-self: flex-bottom;
      z-index: $z-index-heading-logo;
      left: $space-half;
      opacity: 1;
      transition: opacity .15s $hard-ease-in;

      @include media('>medium') {
        width: 135px;
        bottom: -$space-half;
      }

      @include media('>xlarge') {
        left: $col-width + $gutter + px;
      }
    }

    .gothamist-letters {
      fill: $c-black;
    }
    .gothamist-buildings {
      fill: $c-white;
    }
  }

  &.side-menu-is-active {
    .c-main-header__branding {
      opacity: 0;
    }
  }
}


.c-main-footer {
  .gothamist-letters {
    fill: $c-white;
  }
  .gothamist-buildings {
    fill: $c-dark-bg;
  }
}
