<footer class="c-article__footer u-section-spacing">

  <div class="c-article__tags">
    {% include 'molecules-tags' %}
  </div>

  <div class="u-section-spacing">
    <div class="c-article__contact">
      {% include 'organisms-contact' %}
    </div>

    <div class="c-article__donate">
      {% include 'organisms-donate' %}
    </div>

    <div class="c-article__comments">
      {% include 'organisms-comments' %}
    </div>
  </div>

</footer>
