<header class="c-article__header u-spacing--and-half l-container">
  <div class="l-container l-container--12col u-spacing--and-half">
    {% include '@molecules/navigation/breadcrumb.twig' %}
    {%
      include '@atoms/text/headline.twig'
      with {
        "headline_classes": "c-article__headline"
      }
    %}
  </div>

  <div class="l-container l-container--10col">
    {% include '@molecules/meta/article-meta.twig' %}
  </div>

  <div class="c-article__lead">

    <div class="l-container l-container--10col">
      {% include '@molecules/social/share-tools.twig' %}
      {%
        include '@molecules/leads/lead.twig'
        with {
          "lead_classes": "c-article__lead"
        }
      %}
    </div>

    {%
      include '@organisms/article/related-content.twig'
      with {
        "related_classes": "c-related-content--wide-screens"
      }
    %}

  </div>
</header>
