<footer class="c-article__footer u-spacing--double">

  <div class="c-article__tags">
    {% include '@molecules/meta/tags.twig' %}
  </div>

  <div class="u-spacing--triple">
    <div class="c-article__contact">
      {% include '@organisms/touts/contact.twig' %}
    </div>

    <div class="c-article__donate">
      {% include '@organisms/touts/donate.twig' %}
    </div>

    <div class="c-article__comments">
      {% include '@organisms/article/comments.twig' %}
    </div>
  </div>

</footer>
