<div class="c-gallery-overlay">
  <div class="l-container l-container--10col u-spacing--quad">
    {%
      include '@molecules/leads/lead.twig'
      with {
        "is_gallery": false
      }
    %}
    {%
      include '@molecules/leads/lead.twig'
      with {
        "is_gallery": false
      }
    %}
    {%
      include '@molecules/leads/lead.twig'
      with {
        "is_gallery": false
      }
    %}
    {%
      include '@molecules/leads/lead.twig'
      with {
        "is_gallery": false
      }
    %}
  </div>
</div>
