<div class="c-related-content u-spacing {{ related_classes }}">
  <h3 class="c-related-content__heading u-font--secondary-style u-font--xxs">Related</h3>
  <ul class="c-related-content__list u-spacing">
    {% for item in related_items %}
      <li><a href="" class="u-has-accent u-has-accent--secondary u-font--s">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</div>
