<div class="c-article__meta u-spacing--half u-font--secondary-style u-font--xs">
  {% include 'molecules-byline' %}
  <div class="c-article__meta-group">
    {% include 'molecules-published-date' %} &bull;
    <a href="" class="u-has-accent u-has-accent--secondary">24 Comments</a> {% if is_gallery %} &bull; <a href="" class="u-has-accent u-has-accent--secondary">16 Slides</a> {% endif %}
  </div>
</div>
