<div class="c-block-meta">
  <span class="c-block-meta__author u-font--secondary-style u-font--xs u-color--septenary">{{ author }}</span>
  <a href="" class="c-block-meta__comments u-font--secondary-style u-font--xs u-color--septenary"><span class="o-icon o-icon--comment u-icon--xs">{% include '@atoms/icons/icon-comment.twig' %}</span> [76]</a>
</div>
