<div class="c-main-header__left">

  <div class="u-font--secondary-style u-color--white u-font--xs">
    {{photos}} photos
  </div>

</div>

<div class="c-main-header__right">
  <button type="button">
    {%
      include '@atoms/icons/icon-close.twig'
      with {
        icon_classes: "c-main-header__close"
      }
    %}
  </button>
</div>
