<div class="c-main-header__left">

  <div class="c-main-header__slide-count u-font--secondary-style u-color--white u-font--xs">
    {{ photos }} photos
  </div>

  <h1 class="c-main-header__title u-truncate">{{ headline }}</h1>

</div>

<div class="c-main-header__right">

  <div class="c-main-header__share">
    <span class="u-font--secondary-style u-color--white u-font--xs">Share</span>
    {% include 'molecules-share-tools' %}
  </div>

  <button type="button" class="u-padding--half js-toggle" data-remove="gallery-is-active">
    {%
      include '@atoms/icons/icon-close.twig'
      with {
        icon_classes: "c-main-header__close"
      }
    %}
  </button>
</div>
