<form class="c-search {{ search_classes }}" role="dialog" action="">
  <label for="search" class="is-vishidden">Search this site</label>
  <input name="search" type="search" class="c-search__input" placeholder="Search">
  <button type="submit" class="o-button o-button--yellow c-search__button">
    <span class="c-search__icon o-icon o-icon--search u-icon--xs">{% include '@atoms/icons/icon-search.twig' %}</span>
    <span class="is-vishidden">Search</span>
  </button>
</form>
