<div class="c-donate-tout {{ donate_classes }}">

  <div class="c-donate-tout__inner">

    <div class="c-donate-tout__graphic">
      {% include '@atoms/icons/icon-finger-point.twig' %}
    </div>

    <button class="c-donate-tout__close js-toggle" data-toggled="c-article__donate"><span class="o-icon u-icon--xs o-icon--close">{% include '@atoms/icons/icon-close.twig' %}</span></button>

    <p>Gothamist is non-profit local news. We rely on reader support. We need YOU so we can keep telling New York stories.</p>

    {%
      include '@atoms/buttons/button.twig'
      with {
        "button_text": "Donate Now"
      }
    %}

  </div>
</div>
