<div class="c-donate-tout">

  <div class="c-donate-tout__graphic">
    {% include '@atoms/icons/icon-finger-point.twig' %}
  </div>

  <div class="c-donate-tout__inner">

    <button class="c-donate-tout__close js-toggle" data-toggled="c-article__donate"><span class="o-icon u-icon--xs o-icon--close">{% include '@atoms/icons/icon-close.twig' %}</span></button>

    <p> Hey, do you know that it  takes money to write these
  stories? Help us tell more with your help today.</p>

    {%
      include '@atoms/buttons/button.twig'
      with {
        "button_text": "Donate"
      }
    %}

  </div>
</div>
