<div class="c-newsletter-tout u-reversed-out">

  <div class="c-newsletter-tout__inner">

    <div class="c-newsletter-tout__media">
      <a href="https://gothamist.com/tags/wethecommuters">
        {%
          include '@atoms/images/image.twig'
          with {
            "img": {
              "src": "https://d.pr/i/sV3k2L+",
              "alt": "Gothamist Newsletter"
            }
          }
        %}
      </a>
    </div>

    <div class="c-newsletter-tout__content u-spacing--and-half">

      <div class="c-newsletter-tout__text u-spacing">
        <h3 class="c-newsletter-tout__heading "><strong class="o-bg-text-accent o-bg-text-accent--senary">Stay Updated on Transportation in the Tri-state Area</strong></h3>
        <div class="c-newsletter-tout__dek o-rte-text">
          <p>Comprehensive Coverage of Transportation in our Region from WNYC, Gothamist and More. <a href="https://gothamist.com/tags/wethecommuters">Sign up</a> for the weekly newsletter or read more in our We the Commuters column.</p>
        </div>
      </div>

      {% block newsletter_content %}
        {%
          include '@atoms/buttons/button.twig'
          with {
            "button_classes": "o-button--extra",
            "button_text": "Stay Informed"
          }
        %}
      {% endblock %}

    </div>

  </div>

</div>
