<div class="c-newsletter-tout u-reversed-out">

  <div class="c-newsletter-tout__inner">

    <div class="c-newsletter-tout__media">
      <a href="https://gothamist.com/tags/wethecommuters">
        {%
          include '@atoms/images/image.twig'
          with {
            "img": {
              "src": "https://picsum.photos/500/500?image=66",
              "alt": "Gothamist Newsletter"
            }
          }
        %}
      </a>
    </div>

    <div class="c-newsletter-tout__content u-spacing--and-half">

      <div class="c-newsletter-tout__text u-spacing">
        <h3 class="c-newsletter-tout__heading "><strong class="o-bg-text-accent o-bg-text-accent--senary">We the Commuters: Comprehensive Coverage of Transportation in our Region from WNYC, Gothamist and More.</strong></h3>
        <div class="c-newsletter-tout__dek o-rte-text">
          <p><a href="https://gothamist.com/tags/wethecommuters">Sign up</a> to receive the weekly newsletter</p>
        </div>
      </div>

      {%
        include '@atoms/buttons/button.twig'
        with {
          "button_classes": "o-button--extra",
          "button_text": "Read It Now"
        }
      %}

    </div>

  </div>

</div>
