<section class="c-block-group c-block-group--offset o-section">

  <div class="c-block-group__col1 u-spacing--and-half">
    <h2 class="o-section__heading o-bg-text-accent">Recent Stories</h2>
    {% block recirc_list %}
      {% include '@molecules/lists/block-list.twig' with recirc_list %}
    {% endblock %}
  </div>

  <div class="c-block-group__col2 u-spacing--and-half">
    <h2 class="o-section__heading o-bg-text-accent">Featured in Arts &amp; Entertainment</h2>
    {% block recirc_block %}
      {% include '@molecules/blocks/block.twig' with recirc_block %}
    {% endblock %}
  </div>

</section>
