<section class="c-recirc-tout o-section">

  <div class="c-recirc-tout__col1 u-spacing--and-half">
    <h2 class="o-section__heading o-bg-text-accent">Recent Stories</h2>
    {% include '@molecules/lists/block-list.twig' %}
  </div>

  <div class="c-recirc-tout__col2 u-spacing--and-half">
    <h2 class="o-section__heading o-bg-text-accent">Featured Story</h2>
    {% include '@molecules/blocks/block.twig' %}
  </div>

</section>
