<div class="c-sponsored-tout {{ sponsored_classes }}">

  {% block sponsored_heading %}
    <h2 class="c-sponsored-tout__heading">Sponsored</h2>
  {% endblock %}

  {% block sponsored_block %}
    {% include '@molecules/blocks/block.twig' with { "comment_count": false } %}
  {% endblock %}

</div>
