<{{ is_figure ? "figcaption" : "div" }} class="o-caption {{ caption_classes }}">

  {% block caption %}
    {% if caption %}
      <span class="o-icon o-icon--dashed-arrow u-icon--s">{% include '@atoms/icons/icon-dashed-arrow.twig' %}</span> <span class="o-caption__text">{{ caption }}</span>
    {% endif %}
  {% endblock %}

  {% block credit %}
    {% if credit %}
      {% include 'molecules-credit' %}
    {% endif %}
  {% endblock %}

</{{ is_figure ? "figcaption" : "div" }}>
