<figure class="o-figure {{ figure_classes }}">

  {% block top_caption %}
    {{ top_caption }}
  {% endblock %}

  <div class="o-figure__image {{ is_gallery ? 'js-toggle js-gallery-toggle' }}" {% if is_gallery %}data-toggled="c-main" data-prefix="gallery"{% endif %}>
    {% include '@atoms/images/picture.twig' %}
  </div>

  {% block bottom_caption %}
    {% include '@molecules/article/caption.twig' %}
  {% endblock %}

</figure>
