  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script src="/js/script-min.js?{{ cacheBuster }}" async></script>

  <!-- PATTERN LAB SCRIPTS // DO NOT REMOVE FOR PATTERN LAB -->
  {{ patternLabFoot | raw }}
  <!-- / END PATTERN LAB SCRIPTS -->
  </body>

</html>
