  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
  <script src="/js/script-min.js?{{ cacheBuster }}" async></script>

  <!-- PATTERN LAB SCRIPTS // DO NOT REMOVE FOR PATTERN LAB -->
  {{ patternLabFoot | raw }}
  <!-- / END PATTERN LAB SCRIPTS -->
  </body>
</html>
