<div class="c-welcome-page">
  <div class="u-spacing--and-half">
    <div class="c-welcome-page__logo">{% include '@atoms/images/nypr-logo.twig' %}</div>
    <div class="u-spacing--half">
      <h2 class="u-color--primary">Digital Design System</h2>
      <p>You've reached the New York Public Radio Digital Design System. Soon you'll see little blurb about this project and general style guideline usage.</p>
    </div>
  </div>
</div>
